<h2>Auteurs</h2>
<li>
    <a href="{{ path('app_author_index_user') }}">
        Voir les auteurs
    </a>
</li>
<h2>Livres</h2>
<li>
    <a href="{{ path('app_book_index_user') }}">
        Voir les livres
    </a>
</li>
<h2>Catégories</h2>
<li>
    <a href="{{ path('app_category_index_user') }}">
        Voir les catégories
    </a>
</li>
<h2>Éditeurs</h2>
<li>
    <a href="{{ path('app_editor_index_user') }}">
        Voir les éditeurs
    </a>
</li>