{% extends 'base.html.twig' %}

{% block title %}Ajouter une catégorie{% endblock %}

{% block main %}
    <h1>Ajouter une nouvelle catégorie</h1>

    {{ include('category/_form.html.twig') }}

    <a class="main__link" href="{{ path('app_category_index') }}">Retourner à la liste des catégories</a>
{% endblock %}
