{% extends 'base.html.twig' %}

{% block title %}Modifier un éditeur{% endblock %}

{% block main %}
    <h1 class="main__title--text">Modifier {{ editor.editorName }}</h1>

    {{ include('editor/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="main__link" href="{{ path('app_editor_index') }}">Retourner à la liste des éditeurs</a>

    {{ include('editor/_delete_form.html.twig') }}
{% endblock %}
