{% extends 'base.html.twig' %}

{% block title %}Tous les éditeurs{% endblock %}

{% block main %}
    <h1 class="main__title--text">Tous les éditeurs</h1>

    <a class="main__link" href="{{ path('app_editor_new') }}">Ajouter un nouvel éditeur à la base de données</a>

    {% if app.request.getPathInfo starts with '/professional' %}
        <section>
            <table class="table">
                <thead>
                <tr>
                    <th>Nom de l'éditeur</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for editor in editors %}
                    <tr>
                        <td>{{ editor.editorName }}</td>
                        <td>
                            <a href="{{ path('app_editor_edit', {'id': editor.id}) }}"><i class="bi bi-pencil-square"></i></a>
                            <a href="{{ path('app_editor_delete', {'id': editor.id}) }}"><i class="bi bi-trash"></i></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">Aucun éditeur n'a pu être récupéré...</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>
    {% else %}
        <section class="container--flex-row card-container">
            {% for editor in editors %}
                {% include('components/_cardEditor.html.twig') with {
                    'editor': editor.editorName,
                    'editorId': editor.id
                } %}
            {% endfor %}
        </section>
    {% endif %}
{% endblock %}
