{% extends 'base.html.twig' %}

{% block title %}Ajouter un nouvel éditeur{% endblock %}

{% block main %}
    <h1 class="main__title--text">Ajouter un nouvel éditeur à la base de données</h1>

    {{ include('editor/_form.html.twig') }}

    <a class="main__link" href="{{ path('app_editor_index') }}">Retourner à la liste des éditeurs</a>
{% endblock %}
