<article class="card card--rounded container--flex-column">
    <div class="container--flex-column card--description">
        <a class="card--title" href="{{ path('app_editor_show', {id: editorId} ) }}">{{ editor }}</a>
    </div>
</article>