<div class="container--flex-row">
    <a href="#">CGU</a>
    <a href="#">Accueil</a>
    <a href="#">CGV</a>
</div>
<p>Site réalisé par Noah Boos, dans le cadre du module d'INFO4 de son BUT MMI2.</p>